.acfl-field-name {
   width: 49%;
   float: left;
}

.acfl-field-email {
  width: 49%;
  float: right;
}

input#acfl-name-form, input#acfl-email-form, input#acfl-subject-form {
    border: 1px solid #d2d2d2;
    box-sizing: border-box;
    display: inline-block;
    height: 50px;
    line-height: 20px;
    outline: none;
    padding: 4px 6px;
    vertical-align: middle;
    margin-bottom: 15px;
    width: 100%;
}

textarea#acfl-message-form {
    border: 1px solid #d2d2d2 !important;
    box-sizing: border-box;
    display: inline-block;
    line-height: 20px;
    outline: none;
    padding: 4px 6px;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 15px;
}

input#acfl-submitted {
   width: 100%;
}

#acfl-similair-info {
display: none;
width: 100%;
}

#acfl-similair-info h4 {
text-align: center;
}

.acfl-answers {
  display: block;
  float: left;
  width: 100%;
}

.acfl-buttons {
    width: 100%;
}

#acfl_submit{
	float:left;
	width: 49%;
        margin-top: 30px;
}

#acfl_go_back {
	float: right;
	width: 49%;
        margin-top: 30px;
        cursor: pointer;	
}

.acfl-error {
    border-style: solid;
    border-color: red;
    border-width: 2px;
    padding-left: 5px;
}

.acfl-success {
    border-style: solid;
    border-color: green;
    border-width: 2px;
    padding-left: 5px;
}

.acfl-toggle {
  display: block;
  width: 100%;
  height: auto;
  margin-right: 10px;
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

.acfl-toggle h4 {
  color: #333333;
  display: block;
  line-height: 22px;
  padding: 10px 0;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out;
  padding-left: 30px;
  background-image: url('images/acfl-toggle-plus.png');
  background-position: 10px center;
  background-repeat: no-repeat;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.acfl-toggle p:last-of-type {
  margin-bottom: 0px;
  margin-top: 0px;
}

.acfl-toggle.open h4 {
  color: #000;
  background-image: url('images/acfl-toggle-minus.png');
  background-position: 10px center;
  background-repeat: no-repeat;
}

.acfl-toggle .acfl-toggle-info {
  display: none;
  padding: 7px 11px;
}

.acfl-toggle-info hr {
    margin-bottom: 0px;
}